<h1>Click an Animal To Get To Know It Better!</h1>
<%= link_to "Create a New Animal!", new_animal_path %>
<ul>
  <% @animals.each do |animal| %>
    <li><%= link_to animal.name, animal%></li>
    <% end %>
</ul>